{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<link rel="stylesheet" href="{{ static 'global/style.css' }}">

<!-- ========================= -->
<!-- Q2_task_instructions -->
<!-- ========================= -->

<div class="instruction-box">
    <h3>📋 Your task</h3>
    <p>
        👔 You take the role of a <strong>bank employee</strong> who reviews credit applications.
    </p>

    <p>
        For each applicant, you will see their characteristics such as income, debt, and employment.
        Based on this information, rate the applicant’s creditworthiness as:
    </p>

    <ul>
        <li>❌ Poor creditworthiness</li>
        <li>➖ Standard creditworthiness</li>
        <li>✅ Good creditworthiness</li>
    </ul>

    <p class="instruction-note">
        Please base each decision on the information shown.
    </p>
</div>

<div class="instruction-box-light">
    <p>
        Each case consists of two steps:
    </p>

    <p>
        <strong>Step 1:</strong>
        You make an initial decision based only on the applicant information.
    </p>

    <p>
        <strong>Step 2:</strong>
        You then see the AI-support and can keep or revise your decision.
    </p>

    <p class="instruction-note">
        You always make the final decision. The AI provides support, but it does not decide for you.
    </p>
</div>

<div class="instruction-box">
    <p>
        🧪 <strong>Practice first</strong> <br>
        You will first complete a few practice tasks.
    </p>
    <p>
        These do not count toward the study and do not affect your chance of receiving the Amazon voucher.
        They are only to help you get familiar with the process.
    </p>
</div>

<button class="otree-btn-next">Continue</button>

{% endblock %}
