{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<link rel="stylesheet" href="{{ static 'global/style.css' }}">

<h2>{{ trial_label }} {{ trial_number }} – Stage 1: Initial Decision</h2>

<!-- ========================= -->
<!-- features -->
<!-- ========================= -->

<h3>Applicant {{ trial_number }}</h3>

<p><strong>Sociodemographic information</strong></p>
<ul>
    {% for f in features %}
        {% if f.group == "Demographic information" %}
            <li>
                <strong>{{ f.label }}:</strong> {{ f.value }}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p><strong>Financial situation</strong></p>
<ul>
    {% for f in features %}
        {% if f.group == "Financial information" %}
            <li>
                <strong>{{ f.label }}:</strong> {{ f.value }}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p><strong>Credit-related information</strong></p>
<ul>
    {% for f in features %}
        {% if f.group == "Credit information" %}
            <li>
                <strong>{{ f.label }}:</strong> {{ f.value }}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<hr>

<!-- ========================= -->
<!-- initial_decision -->
<!-- ========================= -->

<div class="question-box">
    {{ formfield 'initial_decision' }}
</div>

<hr>

<!-- ========================= -->
<!-- initial_confidence -->
<!-- ========================= -->

<div class="question-box">
    {{ formfield 'initial_confidence' }}
</div>

<button class="otree-btn-next">Continue</button>

{% endblock %}
