{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<link rel="stylesheet" href="{{ static 'global/style.css' }}">


<input type="hidden" name="page_duration_stage2" id="page_duration_stage2"/>

<script>
var startTime;
window.onload = function() {
    startTime = Date.now();
};
function getTime(){
    var page_duration_stage2 = Date.now() - startTime;
    document.getElementById('page_duration_stage2').value = page_duration_stage2/1000;
}

</script>

<h3>{{ trial_label }}
    {{ trial_number }}/{% if trial_label == 'Main Trial' %}15 {% else %}3 {% endif %}
– Step 2</h3>

<!-- ========================= -->
<!-- features (table version) -->
<!-- ========================= -->

<h5>🔍 Applicant {{ trial_number }}</h5>

<table class="feature-overview-vertical">
    {% for f in features %}
        <tr>
            <td class="feature-name">
                {% if f.group == "Demographic information" %}
                    👤
                {% elif f.group == "Financial information" %}
                    💰
                {% elif f.group == "Credit information" %}
                    💳
                {% endif %}
                {{ f.label }}
            </td>
            <td>
                {{ f.value }}
            </td>
        </tr>
    {% endfor %}
</table>

<!-- ========================= -->
<!-- AI support -->
<!-- ========================= -->
{% include "trial_framework/AI_support_box.html" %}

<p>
You initially classified this applicant as:
</p>

<p><strong>→ {{ initial_decision_label }}</strong></p>

<hr>

<!-- ========================= -->
<!-- Final decision -->
<!-- ========================= -->

<div class="question-box">
    {{ formfield 'final_decision' }}

    <p style="margin-top: 30px;">{{form.final_confidence.label}}</p>
    <table class="table table-bordered text-center scale-table margin-bottom">
        <tr>
            <th style="width: 20%;"></th>

            {% for choice in form.final_confidence %}
                <th style="width: 8%;">
                    {{ choice.label }}
                </th>
            {% endfor %}

            <th style="width: 20%;"></th>
        </tr>

        <tr>
            <!--left anchor -->
            <td>Not confident at all</td>

            <!-- Radio buttons -->
            {% for choice in form.final_confidence %}
                <td>
                    {{ choice }}
                </td>
            {% endfor %}

            <!--right anchor -->
            <td>Completely confident</td>
        </tr>
    </table>
</div>

<button class="otree-btn-next" onclick="getTime()">Continue</button>

{% endblock %}
