{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<link rel="stylesheet" href="{{ static 'global/style.css' }}">

<input type="hidden" name="page_duration_stage1" id="page_duration_stage1"/>

<script>
var startTime;
window.onload = function() {
    startTime = Date.now();
};
function getTime(){
    var page_duration_stage1 = Date.now() - startTime;
    document.getElementById('page_duration_stage1').value = page_duration_stage1/1000;
}

</script>

<h2>{{ trial_label }} {{ trial_number }} – Stage 1: Initial Decision</h2>

<!-- ========================= -->
<!-- features -->
<!-- ========================= -->

<h3>Applicant {{ trial_number }}</h3>

<p><strong>Sociodemographic information</strong></p>
<ul>
    {% for f in features %}
        {% if f.group == "Demographic information" %}
            <li>
                <strong>{{ f.label }}:</strong> {{ f.value }}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p><strong>Financial situation</strong></p>
<ul>
    {% for f in features %}
        {% if f.group == "Financial information" %}
            <li>
                <strong>{{ f.label }}:</strong> {{ f.value }}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<p><strong>Credit-related information</strong></p>
<ul>
    {% for f in features %}
        {% if f.group == "Credit information" %}
            <li>
                <strong>{{ f.label }}:</strong> {{ f.value }}
            </li>
        {% endif %}
    {% endfor %}
</ul>

<hr>

<!-- ========================= -->
<!-- initial_decision -->
<!-- ========================= -->

<div class="question-box">
    {{ formfield 'initial_decision' }}
</div>

<hr>

<!-- ========================= -->
<!-- initial_confidence -->
<!-- ========================= -->

<p>{{form.initial_confidence.label}}</p>
<table class="table table-bordered text-center scale-table">
    <tr>
        {% for choice in form.initial_confidence %}
            <th style="width: 8%;">
                {{ choice.label }}
            </th>
        {% endfor %}
    </tr>

    <tr>
        <!-- Radio buttons -->
        {% for choice in form.initial_confidence %}
            <td>
                {{ choice }}
            </td>
        {% endfor %}
    </tr>
</table>

<button class="otree-btn-next" onclick="getTime()">Continue</button>

{% endblock %}
