{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<link rel="stylesheet" href="{{ static 'global/style.css' }}">

<h3>Main Tasks</h3>

<p>
You will now begin the main part of the study.
</p>

<p>
In the following tasks, your decisions <strong>will be used for the analysis</strong>.
Please make each decision carefully.
</p>

<p>At the end of the study, you will see your total number of correct decisions and receive feedback on your performance,
    which determines your performance-based incentive (Amazon gift card 🎁).</p>


<p>
The structure of the tasks remains the same as in the example trials.
</p>

<button class="otree-btn-next">Start main study</button>

{% endblock %}
