{% extends "global/Page.html" %}
{% load otree %}

{% block content %}
<link rel="stylesheet" href="{{ static 'global/style.css' }}">

<h2>Comprehension Questions</h2>

<!-- ========================= -->
<!-- Q3_check_task_domain -->
<!-- ========================= -->
<div class="question-box">
    {{ formfield 'check_task_domain' }}
</div>


<!-- ========================= -->
<!-- Q3_check_decision_authority -->
<!-- ========================= -->

<div class="question-box">
    {{ formfield 'check_decision_authority' }}
</div>

<button class="otree-btn-next">Continue</button>

{% endblock %}
